@import '../../.cache/wal/colors.scss';

.clock {
    .clock-time {
        color: $background;
        font-weight: 900;
        font-size: 80px;
        font-family: "Adwaita Sans", sans-serif;
        opacity: 0.8;
    }

    .clock-date {
        color: $background;
        font-weight: 400;
        font-size: 18px;
        font-family: "Adwaita Sans", sans-serif;
        margin-top: -80px;
        opacity: 0.8;
    }

    &.background {
        background: none;
    }
}

